body {
    background-color: #252844;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
h1 {
    text-align: center;
    color: #c5dfff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
p {
    text-align: center;
    color: #c5dfff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}